:root {
  --accent-color: hsl(285, 100%, 50%);
}

:root,
:root.light {
  color-scheme: light;
  --bg-primary: hsl(0, 0%, 100%);
  --text-primary: hsla(0, 0%, 0%, 0.9);
  --border-primary-color: hsla(0, 0%, 0%, 0.1);
}

:root.dark {
  color-scheme: dark;
  --bg-primary: hsl(0, 0%, 10%);
  --text-primary: hsla(0, 0%, 100%, 0.9);
  --border-primary-color: hsla(0, 0%, 100%, 0.1);
}
