:root {
  --accent-color: hsl(285, 100%, 50%);
  --color-success: hsl(120, 100%, 50%);
  --color-danger: hsl(0, 100%, 50%);
  --code-bg: hsl(225, 8%, 15%);
  --code-text: white;
  --selection-bg: hsl(285, 100%, 50%, 0.5);
}

:root,
[data-color-scheme="light"] {
  color-scheme: light;
  --bg-primary: hsl(0, 0%, 100%);
  --text-400: hsla(0, 0%, 0%, 0.9);
  --text-300: hsla(0, 0%, 0%, 0.33);
  --text-200: hsla(0, 0%, 0%, 0.2);
  --border-primary-color: hsla(0, 0%, 0%, 0.1);
}

[data-color-scheme="dark"] {
  color-scheme: dark;
  --bg-primary: hsl(0, 0%, 10%);
  --text-400: hsla(0, 0%, 100%, 0.9);
  --text-300: hsla(0, 0%, 100%, 0.33);
  --text-200: hsla(0, 0%, 100%, 0.2);
  --border-primary-color: hsla(0, 0%, 100%, 0.1);
}
