nav {
  width: 100%;
  height: 4rem;
  position: sticky;
  top: 0;
  padding: 0rem var(--spacing-400);
  border-bottom: var(--border-primary);
  background-color: inherit;
  z-index: 99;
}

.nav-option-wraper {
  list-style: none;
}

.nav-content-wraper {
  width: min(100%, 1500px);
  justify-content: space-between;
}

.nav-option a {
  color: currentColor;
  text-decoration: none;
  padding: var(--spacing-200);
  transition: opacity var(--transition-primary),
    border var(--transition-primary);
  position: relative;
}

.nav-option a::after {
  content: "";
  width: 0%;
  display: inline-block;
  height: 2px;
  background: currentColor;
  position: absolute;
  transition: width var(--transition-primary);
  bottom: 0%;
  left: auto;
  right: 0;
}

.nav-option a:hover::after,
.nav-option a:focus-visible::after,
.nav-option a.current-page::after {
  width: 100%;
  left: 0;
  right: auto;
}
