*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-primary: "Poppins", sans-serif;
  --font-code: "Fira Code", monospace;
  --spacing-200: 0.25rem;
  --spacing-400: 1rem;
  --border-primary: 1px solid var(--border-primary-color);
  --transition-primary: 0.25s ease-out;
}

body {
  background-color: var(--bg-primary, white);
  color: var(--text-400, black);
  transition: background-color var(--transition-primary),
    color var(--transition-primary);
  font-family: var(--font-primary);
  max-width: 100vw;
}

*::selection {
  background-color: var(--selection-bg);
  color: var(--text-400);
}
